.form_back {
    background-color: rgb(249, 235, 250);
    width:40%;
    padding:20px;
    margin:auto;
    margin-top: 60px;

}
.head_top {
    display: flex;
    justify-content: space-between;
    
}
h2 {
    text-align: left;
}
h4 {
    text-align: left;
}
.gap {
    display: flex;
    justify-content: space-between;
}
.textfield {
    width:100%
}
.textfield_1 {
    width:100%
}
.btn {
    background-color: black !important;
    margin-top: 20px !important;
    
}
.move_to_page {
    cursor: pointer;
}

.table_head {
    width:90%;
    margin:auto;
    
}
.t-head {
    background-color:rgb(249, 235, 250) ;
}
.btn_1 {
    background-color: black !important;
    margin: 20px !important;
    margin-left: auto !important;
    color:#fff !important;
}
.icon {
    width:40px;
    cursor: pointer;
}
.btn_position {
    display: flex;
    /* justify-content: right; */
    align-items: flex-end;
}

@media (max-width:660px) {
    .textfield {
        width:100%
    }
    .gap {
        display: flex;
        flex-direction: column;
    }
    .head_top {
        display: flex;
        flex-direction: column;
        
    }
}

.pagination {
    margin-top: 10px;
   
   
   align-items:center
}
.errorMsg {
    color:red
}
.shown {
    display: flex;
    flex-direction: column;
}